<div class="ui container">
  <h1 class="ui header"><span ng-bind="squad.name"></span> Squad<em ng-hide="!(squad | enlisted:$root.currentUser._id)"> (enlisted)</em></h1>
</div>

<div class="ui divider"></div>

<div class="ui container">
  
  <div class="ui segment">
    <p ng-bind="squad.description"></p>
  </div>
  
  <div class="ui menu">
    <a class="item" ng-hide="squad | enlistedOrMember:$root.currentUser._id" ng-click="enlistToSquad()">
      <i class="users icon"></i>
      Enlist
    </a>
    <a class="item" ng-hide="!(squad | enlisted:$root.currentUser._id)" ng-click="leaveSquad()">
      <i class="remove circle icon"></i>
      Cancel Enlistment
    </a>
    <a class="item" ng-hide="!(squad | member:$root.currentUser._id)" ng-click="leaveSquad()">
      <i class="remove circle icon"></i>
      Leave
    </a>
  </div>
  
  <div class="ui segment" ng-hide="!squad.members || squad.members.length === 0">
    
    <div class="ui horizontal list">
      <div class="item" ng-repeat="member in squad.members | orderBy : xp : reverse">
        <i class="user big icon"></i>
        <div class="content">
          <div class="header"><span ng-bind="member.username"></span></div>
          <span ng-bind="member.rank"></span><span ng-hide="!member.xp"> (<span ng-bind="member.xp"></span> XP)</span>
        </div>
      </div>
    </div>
    
  </div>

</div>