<div class="ui container">
  
  <div class="ui inverted vertical masthead center aligned segment">
  
    <div class="ui text container">
      <h1 class="ui inverted header">HomeLAD Security</h1>
      <img class="ui image" src="/img/LADs.jpg">
      <h2>The community that cares</h2>
      <a class="ui huge primary button" href="/squads">Join a Squad now <i class="right arrow icon"></i></a>
    </div>
  
  </div>
  
  <div class="ui divider"></div>
  
  <div class="ui container">
  
  <h2 ng-show="$root.currentUser._id != null" class="ui header">My Squads</h2>
  <div class="ui cards">
    
    <div class="squad-card card" ng-repeat="squad in squads | userSquads:$root.currentUser._id">
      <div class="content">
        <div class="header">{{squad.name}}<em ng-hide="!(squad | enlisted:$root.currentUser._id)"> (enlisted)</em></div>
        <div class="description">
          {{ squad.description }}
        </div>
      </div>
      <a class="ui bottom attached button" href="/squads/{{squad._id}}">
        <i class="users icon"></i>
        View
      </a>
    </div>
    
  </div>
</div>
  
</div>
