<div class="ui container">
  <h1 class="ui header">Work Orders</h1>
</div>

<div class="ui divider" ng-hide="!currentUser"></div>

<div class="ui container" ng-hide="!currentUser">
  <button id="showCreateWork" class="ui primary labeled icon button">
    <i class="add icon"></i> Post Work
  </button>
</div>

<script>
  $('#showCreateWork').click(function () {
    $('#createWorkDialog').modal('show');
  });
</script>

<div class="ui divider"></div>

<div class="ui container">

  <h2 class="ui header">Available Work</h2>
  <div class="ui cards">
    
    <div class="squad-card card" ng-repeat="work in works | availableWork | orderBy : created">
      <div class="content">
        <i class="right floated ui marker icon"></i>
        <div class="header">
          <span ng-bind="work.title"></span>
        </div>
        <div class="meta">
          Created by <span ng-bind="work.creator.username"></span>, worth <span ng-bind="work.bounty"></span> XP
        </div>
        <div class="description">
          <span ng-bind="work.description"></span>
        </div>
      </div>
      <div class="extra content">
        <div class="ui one buttons">
          <button class="ui basic green button" ng-click="chooseSquad(work)">Accept</button>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

<div id="createWorkDialog" class="ui standard modal">
  <div class="header">Post Work</div>
  <i class="close icon"></i>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" ng-model="newWork.title" placeholder="e.g. Paint Fence">
      </div>
      <div class="field">
        <label>Type</label>
        <select ng-options="workType.label for workType in workTypes track by workType.id" ng-model="newWork.type"></select>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea rows="2" ng-model="newWork.description" placeholder="e.g. About an hour's job, need three people!"></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button" ng-click="addWork(newWork); newWork=''">
      Post!
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>

<div id="acceptWorkDialog" class="ui standard modal">
  <div class="header">Accept Work</div>
  <i class="close icon"></i>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" ng-model="selectedWork.title" readonly>
      </div>
      <div class="field">
        <label>Type</label>
        <input type="text" ng-model="selectedWork.type.name" readonly>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea rows="2" ng-model="selectedWork.description" readonly></textarea>
      </div>
      <div class="field">
        <label>Squad</label>
        <select ng-options="squad.name for squad in userSquads track by squad._id" ng-model="assignSquad" readonly></select>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <button class="ui positive right labeled icon button" ng-click="acceptWork(selectedWork, assignSquad); selectedWork=''">
      Accept!
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>